<p-toolbar *ngIf="showNavBar">
    <div class="p-toolbar-group-start version-mobile" *ngIf="openNav">
        <span class="desktop">Sigae Lite</span>
        <div class="p-toolbar-group-start">
            <p-button
                icon="pi pi-home"
                label="Home"
                (click)="_utilService.navegation('/home-sistema')"
                (click)="navMobile()"
                *ngIf="!showItemNav"/>
            <p-button
                icon="pi pi-user"
                label="Pessoas"
                (click)="_utilService.navegation('/pessoas')"
                (click)="navMobile()"
                *ngIf="!showItemNav"/>
            <p-button
                icon="pi pi-calendar"
                label="Agenda"
                *ngIf="!showItemNav"/>
            <p-button
                icon="pi pi-copy"
                label="Plano de Ação"
                *ngIf="!showItemNav"/>
        </div>
        <p-button
            label="Login"
            class="mobile"
            routerLink="/login"
            (click)="_utilService.navegation('/login')"
            (click)="navMobile()"
            *ngIf="showItemNav"/>
        <p-button
            icon="pi pi-power-off"
            label="Quit"
            class="mobile"
            (click)="_utilService.navegation('/home')"
            (click)="navMobile()"
            *ngIf="!showItemNav"/>
    </div>
    <div class="p-toolbar-group-end">
        <span class="mobile">Sigae Lite</span>
        <p-button
            label="Login"
            class="desktop"
            (click)="_utilService.navegation('/login')"
            (click)="navMobile()"
            *ngIf="showItemNav"/>
        <p-button
            icon="pi pi-power-off"
            label="Quit"
            class="desktop"
            (click)="_utilService.navegation('/home')"
            (click)="navMobile()"
            *ngIf="!showItemNav"/>
        <p-button
            icon="pi pi-bars"
            class="mobile"
            (click)="navMobile()"/>
    </div>
</p-toolbar>
