:root {

    --grey-background-nav:#E5E7EB;
    --grey-background:#E3E3E3;

    --white: #fff;
    --white-010:#F3F4F6;

    --black: #000;
    --black-010: #10101a;

    --grey: #6B7280;
    --grey-010: #4B5563;
    --grey-020: #374151;

    --blue: #1D4ED8;
    --blue-01: #EFF6FF;

    --red: #BE1A1A;

    --button: #3B82F6;

}
