@import "scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.mobile { display: none; }

.desktop { display: flex; }

@media screen and (max-width: 768px) {
    .mobile { display: flex; }

    .desktop { display: none; }

}
