<p-card header="Cadastrar nova senha"> 
    <form [formGroup]="formNewPassword" (submit)="onSubmit()">
        <p-password 
        [(ngModel)]="value" 
        promptLabel="Escolha uma senha"
        weakLabel="Fraco"
        mediumLabel="Médio"
        strongLabel="Forte"
        [toggleMask]="true"
        formControlName="newPassword"
        >
            <ng-template pTemplate="header">
                <h6>Escolha uma senha</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider />
                <p class="mt-2">Sugestões</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um numérico</li>
                    <li>Pelo menos um caractere especial</li>
                    <li>Mínimo de 8 caracteres</li>
                </ul>
            </ng-template>
        </p-password>
        <p-button type="submit" label="Entrar" [disabled]="formNewPassword.invalid" (click)="_utilService.navegation('/login')"/>
    </form>
</p-card>
